*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
img{
    max-width: 100%;
}
p{
    margin-bottom: 0;
}

li, ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

#app{
    height: 100vh;
    padding: 40px;
    background: linear-gradient(
        to top,
        #D7DBD6 85%,
        #009688 85%,
        #009688 100%
    );
}


.aside{
    background-color:white
}

.main-content{
    position: relative;
    background-image: url(https://i.pinimg.com/originals/ab/ab/60/abab60f06ab52fa7846593e6ae0c9a0b.png);
    min-height: 900px;
}

.main-content-header{
    background-color: #EAEAEA;
}

.main-content-footer{
    background-color: #EAEAEA;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.aside-header{
    background-color: #EAEAEA;
}

.notification{
    background-color:#8EDAFC
}

.notification-icon{
    color:#8EDAFC
}

.message-sent{
    background-color:#D5F9BA;
    max-width:45%;
}

.message-received{
    background-color: white;
    max-width:45%;
}