*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
img{
    max-width: 100%;
}
p{
    margin-bottom: 0;
}

li, ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
.background-green{
    height: 10vh;
    background-color:#009688;
}
.background-grey{
    height: 90vh;
    background-color: #DBDBD2;
}

.page{
    min-height: 700px;
    background-color: cornflowerblue;
    position: fixed;
    top :30px;
    left: 200px;
    right: 200px;
    z-index: 999;

}

.aside{
    background-color:white
    /* min-height: 700px; */
}

.main-content{
    position: relative;
    background-image: url(../img/background.jpg);
    min-height: 700px;
}

.main-content-header{
    background-color: #EAEAEA;
}

.main-content-footer{
    background-color: #EAEAEA;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.aside-header{
    background-color: #EAEAEA;
}

.notification{
    background-color:#8EDAFC
}

.notification-icon{
    color:#8EDAFC
}

.message-in{
    background-color:#D5F9BA;
    max-width:45%;
}

.message-out{
    background-color: white;
    max-width:45%;
}